In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
train_df = pd.read_csv('./train.tsv', sep="\t")

List of tags

    part-time-job
    full-time-job
    hourly-wage
    salary
    associate-needed
    bs-degree-needed
    ms-or-phd-needed
    licence-needed
    1-year-experience-needed
    2-4-years-experience-needed
    5-plus-years-experience-needed
    supervising-job

In [41]:
train_df.head(20)
train_df = train_df.fillna('')

In [10]:
train_df.describe(include=['O'])

,tags,description
count,3504,4375
unique,595,4375
top,2-4-years-experience-needed,A hormone replacement company has an immediate...
freq,214,1

In [78]:
import re

def map_row(row):
    tags_list = row.tags.split(' ')
    occupancy = 0
    if 'part-time-job' in tags_list:
        occupancy += 1
    if 'full-time-job' in tags_list:
        occupancy += 2
    return occupancy

def has_part_time(row):
    desc = row.description

    pattern = re.compile("part(\s*|\s*-\s*)time")
    
    has_part_time = 0
    
    if re.search(pattern, desc):
        has_part_time = 1
    return has_part_time

train_df['occupancy'] = train_df.apply(map_row, 1)
train_df['has_part_time'] = train_df.apply(has_part_time, 1)
train_df.head()

,tags,description,is_part_time,is_full_time,occupancy,has_part_time
0,licence-needed supervising-job 5-plus-years-ex...,THE COMPANY Employer is a midstream service...,False,False,0,0
1,2-4-years-experience-needed salary full-time-job,ICR Staffing is now accepting resumes for Indu...,False,True,2,0
2,part-time-job,This is a great position for the right person....,True,False,1,1
3,licence-needed,A large multi-specialty health center is expan...,False,False,0,0
4,5-plus-years-experience-needed full-time-job b...,JOB PURPOSE: The Account Director is respon...,False,True,2,0

In [72]:
desc = train_df.iloc[2,1]
pattern = re.compile("part")

In [75]:
result = re.search(pattern, desc)

In [79]:
train_df.where()

         occupancy  has_part_time
count  4375.000000    4375.000000
mean      0.479543       0.069257
std       0.808890       0.253920
min       0.000000       0.000000
25%       0.000000       0.000000
50%       0.000000       0.000000
75%       1.000000       0.000000
max       2.000000       1.000000